.sidebar {
    position: fixed;
    top: 7%;                /* below the fixed navbar */
    right: 0;
    bottom: 0;
               /* set default width */
    background-color: #003366;  
    padding: 15px;
    overflow-y: hidden;
    box-sizing: border-box;
    border-right: 1px solid #ccc;
    height:95%;
    min-width: 24%;
  
  }
  