.sidebar {
    position: fixed;
    top: 110px;                /* below the fixed navbar */
    right: 0;
    bottom: 0;
               /* set default width */
    background-color: #f4f4f4;
    padding: 15px;
    overflow-y: auto;
    box-sizing: border-box;
    border-right: 1px solid #ccc;
    height:auto;
    min-width: 330px;
    max-width: 600px;
  }
  