.sidebar {
    position: fixed;
    top: 12%;                /* below the fixed navbar */
    right: 0;
    bottom: 0;
               /* set default width */
    background-color:  #09002f;
    padding: 15px;
    overflow-y: hidden;
    box-sizing: border-box;
    border-right: 1px solid #ccc;
    height:90%;
    min-width: 24%;
  
  }
  