#root {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  #map-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: lightgrey;
  }
  
  .sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 10px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .sidebar .info {
    margin-bottom: 10px;
  }
  
  .buttons-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .basemap-button,
  .upload-input,
  .remove-button,
  .reset-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007cbf;
    color: white;
    font-size: 14px;
  }
  
  .basemap-button:hover,
  .upload-input:hover,
  .remove-button:hover,
  .reset-button:hover {
    background-color: #005f8d;
  }
  
  .upload-message {
    margin: 10px 0;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
  }
  
  .remove-button {
    background-color: #ff0000;
  }
  
  .remove-button:hover {
    background-color: #cc0000;
  }
  