.navbar {
  display: flex;
  gap: 20px; 
  /*background: linear-gradient(90deg, #004080, #0056b3); */
  background: white;
  padding: 10px 20px; 
  position: fixed; 
  top: 45px; 
  left: 0;
  right: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); 
  z-index: 200; 
}

.dropdown {
  display: flex;
  flex-direction: column;
  color: white; 
  flex: 1; 
  max-width: 200px; 
}

.dropdown label {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold; 
  color: white; 
}

.dropdown select {
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 4px;
  font-size: 14px;
  width: 100%; 
  background-color: #2c2f33; 
  color: #ffffff; 
  transition: border-color 0.3s ease, background-color 0.3s ease; 
  appearance: none; 
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"%3E%3Cpath fill="%23ffffff" d="M4 6l4 4 4-4z"/%3E%3C/svg%3E'); 
  background-repeat: no-repeat;
  background-position: right 10px center; 
  background-size: 14px; 
}

.dropdown select:hover, .dropdown select:focus {
  border-color: #0056b3; 
}

.dropdown select:hover {
  background-color: #3a3f43; 
}

.dropdown select:focus {
  outline: none; 
  border: 1px solid #007bbf; 
  box-shadow: 0 0 5px rgba(0, 123, 191, 0.5); 
}
.filter-buttons {
  display: flex;
  gap: 10px; 
  margin-top: 10px; 
}

.filter-buttons button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff; 
  color: white;
  cursor: pointer;
}

.filter-buttons button:hover {
  background-color: #0056b3; 
}

.dropdown-container {
  display: flex; 
  gap: 1rem; 
}

